---
controller_chassis:
{{- range $chassisId := .Controllers -}}
{{$chassis := index $.SBDb.Chassis $chassisId}}
  - hostname: "{{$chassis.Hostname}}"
    ovn_bridge_mappings: "{{ index $chassis.ExternalIds "ovn-bridge-mappings"}}"
{{- end }}
compute_chassis:
{{- range $chassisId := .Computes -}}
{{$chassis := index $.SBDb.Chassis $chassisId}}
  - hostname: "{{$chassis.Hostname}}"
    ovn_bridge_mappings: "{{ index $chassis.ExternalIds "ovn-bridge-mappings"}}"
    datapath_type: "{{ index $chassis.ExternalIds "datapath-type"}}"
    ovn_monitor_all: "{{ index $chassis.ExternalIds "ovn-monitor-all"}}"
{{- end }}

{{$inactivity_probe := 180000}}
{{- range $key, $value := .SBDb.Connection -}}
{{ $inactivity_probe = $value.InactivityProbe}}
{{- end -}}
sb_inactivity_probe: {{if $inactivity_probe}}{{$inactivity_probe}}{{else}}180000{{end}}
{{$inactivity_probe := 180000}}
{{- range $key, $value := .NBDb.Connection -}}
{{ $inactivity_probe = $value.InactivityProbe}}
{{- end -}}
nb_inactivity_probe: {{if $inactivity_probe}}{{$inactivity_probe}}{{else}}180000{{end}}
